* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

ul {
    list-style: none;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    background-color: #3882f6;
    color:#f9faf8 ;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 24px;
    border-radius: 6px;
    border: none;
}

button:hover {
    cursor: pointer;
}

h1 {
    font-size: 50px;
    font-weight: 900;
    color: #f9faf8;
}

strong {
    font-size: 22px;
}

img {
    width: 200px;
    height: 200px;
}

.header {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    background-color: #1f2937;
    padding: 30px 60px 90px 60px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.logo {
    flex-grow: 1;
    font-size: 28px;
    font-weight: 900;
}

.logo-img {
    border-radius: 10px;
    width: 80px;
    height: 80px;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
}

.box-one {
    padding-right: 50px;
}

.box-two {
    padding-left: 50px;
}

.secondary-text {
    max-width: 700px;
    font-size: 18px;
    color: #E5E7EB;
}

.main-img {
    width: 300px;
    height: 300px;
}

.content {
    padding: 30px 60px;
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.card {
    text-align: center;
    width: 230px;
    padding: 16px;
    margin: 16px;
}

.card-img {
    border: 5px solid #3882f6;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 20px;
}

.quote-box {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 100px 60px;
}

.quote-section {
    width: 1000px;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    padding: 10px;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 20px;
    padding-right: 20px;
}

.cta-box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
    margin: 90px 60px;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882f6;
    border-radius: 6px;
    padding: 50px 100px;
    width: 1100px;
}

.cta-text {
    padding: 0px;
    margin: 0px;
}

.cta-btn {
    border: 2px solid #f9faf8;
    border-radius: 6px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1f2937;
    padding: 40px;
    color: #E5E7EB;
}